@CHARSET "UTF-8";

body {
	/* line-height:1;*/
}

a{
  cursor:pointer;
}

/*
li a{
  cursor:pointer;
}
*/



.pagination {
	
	margin-top:0px;
}

.row {
	margin-right:0px;
	margin-left:0px;
}


/*
#_loading {
    display:    none;
    position:   fixed;
    z-index:    3000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0 ) 
                url('./static/img/loading.gif') 
                50% 50% 
                no-repeat;
}
*/

/*
 * override the default CSS as an example
 */

#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #2c3e50;
  border-left-color: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}



.progress,.card-block,.card,.pagination,.page-link {
    border-radius: 0px !important;
}

button, input, select {
    border-radius: 0px !important;
}