// like
// div.fb-like(data-share="true",data-width="450",data-show-faces="true")

// login
// fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')
// div#status

div(ng-view="ng-view", style="padding:40px;") 
    .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            | &#x9;&#x9;&#x9;&#x9;
            h4#signInModalLabel.modal-title 인증

        .modal-body
            .form-group
                .input-group
                    label.input-group-addon.glyphicon.glyphicon-lock(for='username')
                        i.fa.fa-user
                    input#username.form-control(type='text', placeholder='Username', value="gz")
            .form-group
                .input-group
                    label.input-group-addon.glyphicon.glyphicon-lock(for='password')
                        i.fa.fa-lock
                    input#password.form-control(type='text', placeholder='Password', value="1231231")
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            
        .modal-footer
            button.form-control.btn.btn-lg.btn-success.btn-block(ng-click="signIn();") 로그인
            | &#x9;&#x9;&#x9;&#x9;
            button.form-control.btn.btn-lg.btn-warning.btn-block(ng-click="signOut();") 로그아웃
            | &#x9;&#x9;&#x9;&#x9;
            //.or-box
                .login-or
                    hr.hr-or
                    span.span-or 또는
                .omb_login
                    .row.omb_row-sm-offset-3.omb_socialButtons
                        a.btn.btn-lg.btn-block.omb_btn-facebook(href="#", scope='public_profile,email',onclick="checkLoginState();")
                            i.fa.fa-facebook.visible-xs
                            span.hidden-xs Facebook
                            
                        a.btn.btn-lg.btn-block.omb_btn-google(href='#')
                            i.fa.fa-google-plus.visible-xs
                            span.hidden-xs Google+


