<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		
		<!-- <mapping class="io.nzo.breadboard.domain.User" />  -->
		
		<mapping resource="io/nzo/breadboard/domain/User.hbm.xml" />
		
		<mapping resource="io/nzo/breadboard/domain/Board.hbm.xml" />
		
		<mapping resource="io/nzo/breadboard/domain/Post0.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post1.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post2.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post3.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post4.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post5.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post6.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post7.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post8.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Post9.hbm.xml" />
		
		<mapping resource="io/nzo/breadboard/domain/Comment0.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment1.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment2.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment3.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment4.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment5.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment6.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment7.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment8.hbm.xml" />
		<mapping resource="io/nzo/breadboard/domain/Comment9.hbm.xml" />
		
		
		
		
		<!-- hibernate generalCP -->
		<!-- 
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://192.168.0.19:21433;database=bbs;</property>
		<property name="hibernate.connection.username">test</property>
		<property name="hibernate.connection.password">poiu0987</property>
		<property name="hibernate.connection.pool_size">3</property>
		 -->
		 
		 
		 
		 
		<!-- 
		<property name="hibernate.implicit_naming_strategy">io.nzo.orm.CustomNamingStrategy</property>
		
		
		<property name="hibernate.physical_naming_strategy">io.nzo.orm.PhysicalNamingStrategy</property>
		-->
		<!-- hikariCP 
		
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.default_schema">dbo</property>
		
		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.minimumIdle">10</property>
		<property name="hibernate.hikari.maximumPoolSize">10</property>
		<property name="hibernate.hikari.idleTimeout">30000</property>
		<property name="hibernate.hikari.dataSourceClassName">com.microsoft.sqlserver.jdbc.SQLServerDataSource</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:sqlserver://192.168.0.19:21433;database=bbs;</property>
		<property name="hibernate.hikari.dataSource.user">test</property>
		<property name="hibernate.hikari.dataSource.password">poiu0987</property>
		-->
		
		
		
		
	</session-factory>
</hibernate-configuration>
