//paging: {
    pageCount: 9,
    startPage: 1,
    nextPage: 2,
    totalPageCount: 22,
    prevPage: 1,
    endPage: 9,
    totalCount: 214,
    listCount: 10,
    currentPage: 1,
    prevStepPage
    nextStepPage
//ul.pagination
    li.page-item
        a.page-link(aria-label="Previous", ng-click="pageMove(#{paging.prevStepPage});")
            span(aria-hidden="true") «
    - var i = paging.startPage;
    while i <= paging.endPage
        li.page-item(class=(i==paging.currentPage ? 'active' : ''))
            a.page-link(ng-click="pageMove("+ i +");")= i 
        - i++;
    li.page-item
        a.page-link(aria-label="Next", ng-click="pageMove(#{paging.nextStepPage});")
            span(aria-hidden="true") »
ul.pagination
    li.page-item
        a.page-link(aria-label="Previous", ng-click="pageMove(#{paging.prevStepPage});")
            span(aria-hidden="true") «
    - var i = paging.startPage;
    while i <= paging.endPage
        li.page-item(class=(i==paging.currentPage ? 'active' : ''))
            a.page-link(ng-click="pageMove("+ i +");")= i 
        - i++;
    li.page-item
        a.page-link(aria-label="Next", ng-click="pageMove(#{paging.nextStepPage});")
            span(aria-hidden="true") »