doctype html
html(lang="ko")
    head
        include ./template/head
    body(ng-app="booth", ng-controller="boothCtrl")
        include ./template/login
        
        .row
            .col-md-8
            .col-md-4(style="text-align:right;")
                button.btn.btn-link.fa.fa-user(onclick="$('#loginModal').modal();") &#32;sign_in
                //button.btn.btn-link.fa.fa-cog
        div
            span content: {{content}}
        span user: #{user.username}
        br 
        span user.name: #{user.creationTime}
        table.table
            thead
                tr
                    th(style="width:100px;min-width:80px;")  post_id
                    th title
                    th(style="width:80px;") view_count
                    th(style="width:190px;") creation_time
            tbody
                tr
                    td 123456789
                    td 
                        a(href="#") Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
        .row
            .col-md-3
                button.btn.btn-secondary(onclick="location.href='./list';") list
            .col-md-6(style="text-align:center;")
                nav
                    ul.pagination
                        li.page-item
                            a.page-link(href='#', aria-label='Previous')
                                span(aria-hidden='true') «
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item.active
                            a.page-link(href='#') 4
                        li.page-item
                            a.page-link(href='#') 5
                        li.page-item
                            a.page-link(href='#') 6
                        li.page-item
                            a.page-link(href='#') 7
                        li.page-item
                            a.page-link(href='#') 8
                        li.page-item
                            a.page-link(href='#') 9
                        li.page-item
                            a.page-link(href='#') 10
                        li.page-item
                            a.page-link(href='#', aria-label='Next')
                                span(aria-hidden='true') »
            .col-md-3(style="text-align:right;")
                button.btn.btn-secondary.fa.fa-pencil &#32;write