doctype html
html(lang='ko')
    head
        include ./template/head
    body
        .container
            form.form-signin
                input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
                input#inputPassword.form-control(type='password', placeholder='Password', required='')