.card
    .card-block
        h4(style="margin-bottom:0px;word-break: break-all;", ng-bind="post.title")
        small(style="float:right;", ng-bind="postUser.creationTime")
        small(ng-bind="postUser.name")
        div.card-text(style="margin-top: 1rem;word-break: break-all;", bind-html-compile="postTextHtml")
        br 
        //p.pull-right
            span.tag.tag-default keyword
            |  
            span.tag.tag-default tag
            |  
            span.tag.tag-default post
        ul.list-inline
            li.list-inline-item
                //a(href='#')
                span.glyphicon.glyphicon-comment(ng-bind="post.commentCount")
                | &#32;Comments
.row(style="margin-bottom:10px;")
    .col-md-3
        button.btn.btn-secondary(ng-click="pagePosts(board.id);") list
    .col-md-6(style="text-align:center;")
        
    .col-md-3(style="text-align:right;")
            //button.btn.btn-secondary modify
            //| &#32;
            button.btn.btn-secondary delete
.card

    .card-block(style="border-bottom:1px solid #e0e0e0;", ng-repeat="item in postComments")
        small.card-title user.name
        small(style="float:right;", ng-bind="item.creationTime")
        p.card-text(ng-bind-html="item.text")
    // session user 잇어야함
    //.card-block
        span(ng-bind="user.name")
        textarea.form-control(style="resize:none;margin-bottom:5px;") text
        div(style="text-align:right;")
            button.btn.btn-secondary comment
table.table(style="border-bottom:1px solid #eceeef;")
    tbody
        tr(ng-show="nextPost.postId > 0")
            td(style="width:100px;", ng-bind="nextPost.postId") 
            td(style="text-align:left;")
                a(ng-href="#!/view?id={{board.id}}&page={{page}}&postId={{nextPost.postId}}", ng-bind="nextPost.title")
            td(style="width:150px;") name 
            td(style="text-align:right;width:200px;", ng-bind="nextPost.creationTime") 
        tr(ng-show="prevPost.postId > 0")
            td(style="width:100px;", ng-bind="prevPost.postId") 
            td(style="text-align:left;")
                a(ng-href="#!/view?id={{board.id}}&page={{page}}&postId={{prevPost.postId}}", ng-bind="prevPost.title") text link
            td(style="width:150px;") name 
            td(style="text-align:right;width:200px;", ng-bind="prevPost.creationTime") 
.row
    .col-md-3
        button.btn.btn-secondary(ng-click="pagePosts(board.id);") list
    .col-md-6(style="text-align:center;")
        
    .col-md-3(style="text-align:right;")
        button.btn.btn-secondary.fa.fa-pencil(ng-click="write();") &#32;write