.bordered th {
    text-align:center;
}

.bordered th[data-field='name'] {
    width:170px;
    min-width:170px;
}


.bordered th[data-field='date'] {
    width:74px;
    min-width:74px;
}


.bordered th[data-field='count'] {
    width:80px;
    min-width:80px;
}


.bordered td[data-field='title'] {
    font-size:14pt;
}

