ul.pagination(ng-show="!isUndefined(paging)")
    li.page-item
        a.page-link(aria-label="Previous", ng-click="pageMove(board.id, paging.prevStepPage);")
            span(aria-hidden="true") «
    li.page-item(ng-repeat="item in paging.pages", ng-class="(paging.currentPage == item ? 'active' : '')")
        a.page-link(ng-click="pageMove(board.id, item);") {{item}} 
    li.page-item
        a.page-link(aria-label="Next", ng-click="pageMove(board.id, paging.nextStepPage);")
            span(aria-hidden="true") »
