<!DOCTYPE html>
<html>
<head th:replace="template/admin :: head">
</head>
<body class="blue-grey lighten-5">

    <header>
        <nav class="top-nav">
            <div class="nav-wrapper blue-grey darken-3">
                <a href="#" class="brand-logo left">Booth</a>
                <ul class="right">
                    <li><a href="#">회원</a></li>
                    <li><a href="#">게시판</a></li>
                    <li>
                        <a href="#">
                            <i class="large material-icons">power_settings_new</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <!--
            <ul id="slide-out" class="side-nav fixed">
                <li><a href="#!">First Sidebar Link</a></li>
                <li><a href="#!">Second Sidebar Link</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        -->
    </main>
                


                <div class="row">
                    <p class="flow-text">I am Flow Text</p>

                </div>


                asd

</body>
</html>
