<!DOCTYPE html>
<html>
<head th:replace="template/board :: head">
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.title = [[${board.title}]];
        /*]]>*/
    </script>
    <div style="min-width:100%;width:100%;">

        <nav class="navbar" style="margin-bottom:0px;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <strong>
                        <a class="navbar-brand"
                           th:href="@{'/board/' + ${board.id}  }"
                           th:text="${board.title}">title</a>
                    </strong>
                </div>
                <p th:text="${board.description}" class="navbar-text">Description</p>
                <div class=""> <!--collapse navbar-collapse-->
                    <!--
                    <form class="navbar-form navbar-right" role="search" style="padding:0px;margin-bottom:0px;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="검색">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                    -->
                </div>
            </div>
        </nav>

        <!-- 보류
        <div>
            <span style="font-size:33px;display:inline-block;font-weight:bold;margin:0px;padding:0px;">
                <span th:text="${board.title}"></span>
            </span>
        </div>
        -->
        <div>
            <table class="table table-responsive table-hover" style="border-bottom:1px solid #dddddd;">
                <tbody>
                    <tr th:each="post : ${posts}">
                        <td style="min-width:50%;">
                            <span class="glyphicon glyphicon-file" aria-hidden="true" style="color:#555;"></span>
                            <a th:href="@{'/board/' + ${board.id} + '/view/' + ${post.postId} + '?page=' + ${paging.currentPage} }"
                                th:text="${post.title}"></a>
                        </td>
                        <td style="min-width:90px;width:90px;max-width:90px; text-align:center;">

                            <div th:if="${post.commentCount} > 0 ">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true" style="color:#555;"></span>
                                <span th:text="${post.commentCount}" class="blue-text"></span>
                            </div>

                        </td>
                        <!--<td th:text="${post.hitCount}" style="text-align:center;"></td>-->

                        <td style="min-width:125px;width:150px;max-width:150px;">
                            <!--
                                <span th:text="${post.userId}">id</span>
                            -->
                            <span th:if="${post.user}" th:text="${post.user.name}">이름</span>
                            <span th:if="!${post.user}" th:text="${post.name}">이름</span>
                        </td>
                        <td style="min-width:150px;width:150px;max-width:150px; text-align:right;">
                            <small th:text="${#dates.format(post.creationTime, 'yyyy-MM-dd HH:mm:ss')}">1분전</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="overflow:hidden;">
            <div class="col-sm-2 col-xs-2">
                <a th:href="@{'/board/' + ${board.id} }" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    목록
                </a>
            </div>
            <div class="col-sm-8 col-xs-8 align-text-bottom" style="text-align:center;">
                <!-- page navigation -->
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm" style="margin:0px;">

                        <!-- prev page -->
                        <li>
                            <a th:href="@{'/board/' + ${board.id} + '?page=' + ${paging.prevStepPage} }"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- page loop -->
                        <li th:each="page : ${paging.pages}"
                            th:attr="class=${paging.currentPage == page ? 'active' : ''}">
                            <a th:href="@{'/board/' + ${board.id} + '?page=' + ${page} }" th:text="${page}">0</a>
                        </li>

                        <!-- next page -->
                        <li>
                            <a th:href="@{'/board/' + ${board.id} + '?page=' + ${paging.nextStepPage} }"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-2 col-xs-2" style="text-align:right;">


                <a th:if="${user}" th:href="@{'/board/' + ${board.id} + '/write' + '?page=' + ${paging.currentPage} }" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    새글
                </a>
            </div>
        </div>
    </div>
</body>
</html>
