doctype html
html(lang='ko')
    head
        include ./template/head
    body
        h1 title
        table.table
            thead
                tr
                    th post_id
                    th title
                    th view_count
                    th creation_time
            //tfoot
                tr
                    th Footer 1
                    th Footer 2
                    th Footer 3
            tbody
                tr
                    td 123456789
                    td 
                        a(href="#") Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                tr
                    td 123456789
                    td Bootstrap 4 provides seven styles for buttons — each serving a different semantic purpose.
                    td 1234
                    td 2016-01-01 11:00:00
                
        .row
            .col-xs-1(style="text-align:left;")
                button.btn.btn-secondary list
            .col-xs-2 
                
            .col-xs-6(style="text-align:center;")
                nav
                    ul.pagination
                        li.page-item
                            a.page-link(href='#', aria-label='Previous')
                                span(aria-hidden='true') «
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item.active
                            a.page-link(href='#') 4
                        li.page-item
                            a.page-link(href='#') 5
                        li.page-item
                            a.page-link(href='#') 6
                        li.page-item
                            a.page-link(href='#') 7
                        li.page-item
                            a.page-link(href='#') 8
                        li.page-item
                            a.page-link(href='#') 9
                        li.page-item
                            a.page-link(href='#') 10
                        li.page-item
                            a.page-link(href='#', aria-label='Next')
                                span(aria-hidden='true') »
            .col-xs-2 
            .col-xs-1(style="text-align:right;")
                button.btn.btn-secondary.fa.fa-pencil &#32;write
        .row
            .col-xs-4(style="text-align:left;")
                
            .col-xs-4(style="text-align:center;")
                .input-group
                    input.form-control(type='text', aria-label='Text input with segmented button dropdown')
                    .input-group-btn
                        button.btn.btn-secondary(type='button') 
                            i.fa.fa-search
                    //.input-group-btn
                        button.btn.btn-secondary(type='button') 
                            i.fa.fa-location-arrow
            .col-xs-4



