<!DOCTYPE html>
<html>
<head th:replace="template/board :: head">
</head>
<body>

    <script>
        $(document).ready(function () {

            username.value = 'test';
            password.value = '123123';
            name.value = 'ㅁㄴㅇㅁ';
            email.value = 'help@shininglore.co.kr';
        });
    </script>

    <div>
        <form action="#" 
            th:object="${userForm}" 
            th:action="@{'/register'}"
            method="post">

            <table>
                <tr>
                    <td>아이디:</td>
                    <td>
                        <input type="text" id="username" th:field="*{username}" />
                    </td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</td>
                </tr>
                <tr>
                    <td>비밀번호:</td>
                    <td>
                        <input type="text" id="password" th:field="*{passwordSha2}" />
                    </td>
                    <td th:if="${#fields.hasErrors('passwordSha2')}" th:errors="*{passwordSha2}">error</td>
                </tr>

                <tr>
                    <td>이름:</td>
                    <td><input type="text" id="name" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</td>
                </tr>


                <tr>
                    <td>이메일:</td>
                    <td><input type="text" id="email" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</td>
                </tr>

                    
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>

        </form>
    </div>
</body>
</html>
