<!DOCTYPE html>
<html>
<head th:replace="template/board :: head">
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.title = [[${board.title}]];
        /*]]>*/
    </script>

    <div style="min-width:100%;width:100%;">
        <nav class="navbar" style="margin-bottom:0px;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <strong>
                        <a class="navbar-brand"
                           th:href="@{'/board/' + ${board.id} }"
                           th:text="${board.title}">title</a>
                    </strong>
                </div>
                <p class="navbar-text">Description</p>

                <div class="">
                    <!--collapse navbar-collapse
                    <form class="navbar-form navbar-right" role="search" style="padding:0px;margin-bottom:0px;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="검색">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                        -->
                </div>
            </div>
        </nav>

        <div style="border-top:1px solid #ddd;overflow:hidden;padding:10px;">


            <img th:src="@{/static/img/user.png}" style="float:left;" />


            <div style="padding:0px 10px 10px 10px;margin-left:82px;">
                <span th:text="${post.title}" style="font-size:20px;">title</span>
            </div>

            <div style="padding:0px 10px 10px 10px;margin-left:82px;">
                <small>
                    <span th:if="${post.user}" th:text="${post.user.name}">이름</span>
                    <span th:if="!${post.user}" th:text="${post.name}">이름</span>
                </small>

                <small style="float:right;margin:0px 0px 0px 10px;">
                    <span class="glyphicon glyphicon-time"></span>
                    <span th:text="${#dates.format(post.creationTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </small>

                <small style="float:right;margin:0px 0px 0px 10px;">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span th:text="${post.commentCount}"></span>
                </small>

                <small style="float:right;margin:0px 0px 0px 10px;">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span th:text="${post.hitCount}"></span>
                </small>
            </div>

        </div>

        <!-- text -->
        <div style="border-top:1px solid #efefef;min-height:250px;">
            <div style="padding:10px 10px 20px 10px;" th:utext="${post.text}">
            </div>
        </div>

        <!-- button -->
        <div style="overflow:hidden;padding-top:10px;padding-bottom:10px;">
            <div class="col-sm-4 col-xs-4">
                ip: 127.0.0.1
            </div>
            <div class="col-sm-4 col-xs-4 align-text-bottom" style="text-align:center;">

            </div>
            <div class="col-sm-4 col-xs-4" style="text-align:right;">

                <a th:href="@{'/board/' + ${board.id} + '/write/' + ${post.postId} + '?page=' + ${page} }" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    수정
                </a>

                <a th:href="@{'/board/' + ${board.id} + '/delete/' + ${post.postId} + '?page=' + ${page} }" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    삭제
                </a>
            </div>
        </div>

        <!-- comment write -->
        <div style="border-top:1px solid #ddd;overflow:hidden;padding:10px;">
            <div style="padding:0px 0px 10px 0px;">
                <span style="font-size:20px;">댓글 남기기</span>
            </div>

            <form action="#"
                  th:object="${commentForm}"
                  th:action="@{'/board/' + ${board.id} + '/comment/' + ${post.postId} + '?page=' + ${page} }"
                  method="post">
                <input type="hidden" th:field="*{userId}" />
                <input type="hidden" th:field="*{ip}" />

                <img th:src="@{/static/img/user.png}" style="float:left;" />

                <div style="margin-left:92px;text-align:right;padding-right:8px;">
                    <textarea type="text" th:field="*{text}"
                              class="form-control" rows="3"
                              style="resize:none;"></textarea>


                    <button type="submit" class="btn btn-default btn-sm" style="margin-top:5px;">
                        <i class="glyphicon glyphicon-send"></i>
                        보내기
                    </button>
                </div>
            </form>
        </div>


        <!-- commnet list -->
        <div style="border-top:1px solid #ddd;" th:if="${not #lists.isEmpty(postComments)}">
            <div style="padding:10px 10px 10px 10px;">
                <span style="font-size:20px;">댓글</span>
            </div>
            <div th:each="comment : ${postComments}" style="padding:10px;overflow:hidden;border-top:1px solid #efefef;">

                <img th:src="@{/static/img/user.png}" style="float:left;" />

                <div style="margin-left:92px;">
                    <small>
                        <span th:if="${comment.user}" th:text="${comment.user.name}">이름</span>
                        <!--<span th:if="!${comment.user}" th:text="${post.name}">이름</span>-->
                        <span th:unless="${comment.user}">익명</span>
                    </small>

                    <div th:text="${comment.text}"></div>
                    <p style="margin-top:0px;">
                        <small>
                            <span class="glyphicon glyphicon-time"></span>
                            <span th:text="${#dates.format(comment.creationTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </small>

                        <small style="float:right;">

                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span th:text="${comment.upCount}"></span>

                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            <span th:text="${comment.downCount}"></span>

                        </small>
                    </p>
                </div>
            </div>
        </div>

        <!-- button -->
        <div style="overflow:hidden;border-top:1px solid #ddd;padding-top:10px;padding-bottom:10px;">
            <div class="col-sm-8 col-xs-8">
                <a th:href="@{'/board/' + ${board.id} + '?page=' + ${page} }" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    목록
                </a>

                
                <a th:if="${nextPost.postId} > 0"
                   th:href="@{'/board/' + ${board.id} + '/view/' + ${nextPost.postId} + '?page=' + ${page} }"
                   class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    다음글
                </a>

                <a th:if="${prevPost.postId} > 0"
                   th:href="@{'/board/' + ${board.id} + '/view/' + ${prevPost.postId} + '?page=' + ${page} }"
                   class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    이전글
                </a>
            </div>





            <div class="col-sm-4 col-xs-4" style="text-align:right;">
                <a th:href="@{'/board/' + ${board.id} + '/write' + '?page=' + ${page} }" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    새글
                </a>

            </div>
        </div>

        <div>
            <table class="table table-responsive" style="border-bottom:1px solid #ddd;">
                <tbody>
                    <tr th:if="${nextPost.postId} > 0">
                        <td style="min-width:64px;width:64px;">
                            다음글
                        </td>
                        <td style="min-width:50%;">
                            <span class="glyphicon glyphicon-file" aria-hidden="true" style="color:#555;"></span>

                            <a th:href="@{'/board/' + ${board.id} + '/view/' + ${nextPost.postId} + '?page=' + ${page} }"
                               th:text="${nextPost.title}"></a>
                        </td>

                        <td style="min-width:90px;width:90px;max-width:90px;  text-align:center;">

                            <span class="glyphicon glyphicon-comment" aria-hidden="true" style="color:#555;"></span>
                            <span th:text="${nextPost.commentCount}" class="blue-text"></span>
                        </td>
                        <!--<td th:text="${post.hitCount}" style="text-align:center;"></td>-->

                        <td style="min-width:125px;width:150px;max-width:150px;">
                            <!--
                                <span th:text="${post.userId}">id</span>
                            -->
                            <span th:if="${nextPost.user}" th:text="${nextPost.user.name}">이름</span>
                            <span th:if="!${nextPost.user}" th:text="${nextPost.name}">이름</span>
                        </td>
                        <td style="min-width:150px;width:150px;max-width:150px; text-align:right;">
                            <small th:text="${#dates.format(nextPost.creationTime, 'yyyy-MM-dd HH:mm')}">1분전</small>
                        </td>
                    </tr>

                    <tr th:if="${prevPost.postId} > 0">
                        <td style="min-width:64px;width:64px;">
                            이전글
                        </td>
                        <td style="min-width:50%;">
                            <span class="glyphicon glyphicon-file" aria-hidden="true" style="color:#555;"></span>

                            <a th:href="@{'/board/' + ${board.id} + '/view/' + ${prevPost.postId} + '?page=' + ${page} }"
                               th:text="${prevPost.title}"></a>
                        </td>

                        <td style="min-width:90px;width:90px; text-align:center;">

                            <span class="glyphicon glyphicon-comment" aria-hidden="true" style="color:#555;"></span>
                            <span th:text="${prevPost.commentCount}" class="blue-text"></span>
                        </td>
                        <!--<td th:text="${post.hitCount}" style="text-align:center;"></td>-->

                        <td style="min-width:125px;width:150px;max-width:150px;">
                            <!--
                                <span th:text="${post.userId}">id</span>
                            -->
                            <span th:if="${prevPost.user}" th:text="${prevPost.user.name}">이름</span>
                            <span th:if="!${prevPost.user}" th:text="${prevPost.name}">이름</span>
                        </td>
                        <td style="min-width:150px;width:150px;max-width:150px; text-align:right;">
                            <small th:text="${#dates.format(prevPost.creationTime, 'yyyy-MM-dd HH:mm')}">1분전</small>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
