<!DOCTYPE html>
<html>
<head th:replace="template/board :: head">
</head>
<body>

    <div class="row" style="margin-bottom:0px;">
        <!-- 본문 -->
        <div class="col s12">
            <div class="section">
                <h5 th:text="${post.title}">Section 1</h5>
                <span style="margin:0px 20px 0px 20px;">
                    <i class="fa fa-user"></i>&#32;
                    <!--<span th:text="${post.userId}"></span>-->
                    <span th:if="${post.user}" th:text="${post.user.name}"></span>
                </span>



                <span style="float:right;margin:0px 20px 0px 20px;">
                    <i class="fa fa-clock-o"></i>&#32;
                    <span th:text="${post.creationTime}"></span>
                </span>

                <span style="float:right;margin:0px 20px 0px 20px;">
                    <i class="fa fa-comment-o"></i>&#32;
                    <span th:text="${post.commentCount}"></span>
                </span>

                <span style="float:right;margin:0px 20px 0px 20px;">
                    <i class="fa fa-eye"></i>&#32;
                    <span th:text="${post.hitCount}"></span>
                </span>

            </div>
            <!-- 
            <div class="divider"></div>
            attach 
            <p>
                <a class="waves-effect waves-light">
                    <i class="fa fa-file" aria-hidden="true"></i>&#32;
                    <span>booth-0.0.1-SNAPSHOT.war</span>
                </a>

            </p>-->
            <!-- link 
            <p>
                <a class="waves-effect waves-light">
                    <i class="fa fa-link" aria-hidden="true"></i>&#32;
                    <span>http://naver.com</span>
                </a>

            </p>-->

            <div class="divider"></div>

            <!-- content -->
            <div class="section" th:utext="${post.text}"></div>
            
            <div class="divider"></div>
            <!-- tag 
            <div class="chips chips-initial" data-index="0" data-initialized="true">
                <div class="chip">Apple<i class="material-icons close">close</i></div>
                <div class="chip">Microsoft<i class="material-icons close">close</i></div>
                <div class="chip">Google<i class="material-icons close">close</i></div>
                <input id="0635acf5-55d7-a95f-d1f6-468731f591cd" class="input" placeholder="" />
            </div>
            <div class="chips" data-index="0" data-initialized="true">
                <div class="chip">tag_test1</div>
                <div class="chip">tag_test2</div>
                <div class="chip">tag_test3</div>
            </div>
               -->
        </div>

        <div class="col s12">

            <form action="#"
                  th:object="${commentForm}"
                  th:action="@{'/board/' + ${board.id} + '/comment/' + ${post.postId} + '?page=' + ${page} }"
                  method="post">

                <input type="hidden" th:field="*{userId}" />

                <input type="hidden" th:field="*{ip}" />

                <h5 class="header">
                    <i class="material-icons prefix">textsms</i>
                    댓글
                </h5>


                <div class="input-field">
                    <textarea type="text" th:field="*{text}" id="icon_prefix"
                              class="materialize-textarea left-align"
                              style="padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;"></textarea>
                    <label for="icon_prefix" class="">내용</label>
                    <div>
                        <!--
                        <div style="float:left;">
                            text 글자수
                        </div>
                        -->

                        <button type="submit" class="btn waves-effect waves-light" style="float:right;">
                            <i class="material-icons">send</i>
                        </button>
                    </div>
                </div>

            </form>


        </div>
        
    </div>

    <div class="row" th:if="${not #lists.isEmpty(postComments)}">
        <!--
        <div class="col s12">
            <h5>댓글</h5>
            <div class="divider"></div>
        </div>-->
        <div class="col s12" th:each="comment : ${postComments}">
            <p style="font-weight:bold;" th:if="${comment.user}" th:text="${comment.user.name}"></p>
            <p style="font-weight:bold;" th:unless="${comment.user}">익명</p>




            <div th:text="${comment.text}"></div>
            <p style="margin-top:0px;">
                <small>
                    <i class="fa fa-clock-o"></i>&#32;
                    <span th:text="${comment.creationTime}"></span>
                </small>

                <small style="float:right;">

                    <i class="tiny material-icons">thumb_up</i>
                    <span th:text="${comment.upCount}"></span>

                    <i class="tiny material-icons">thumb_down</i>
                    <span th:text="${comment.downCount}"></span>

                </small>
            </p>
            <div class="divider"></div>
        </div>
    </div>



    <div class="row">
        <div class="divider"></div>

        <table class="bordered">
            <tbody>
                <tr th:if="${nextPost.postId} > 0">
                    <!-- ng-show="nextPost.postId &gt; 0  -->
                    <td data-field="name"></td>
                    <td data-field="title">
                        <a th:href="@{'/board/' + ${board.id} + '/view/' + ${nextPost.postId} }" th:text="${nextPost.title}"></a>
                    </td>
                    <td data-field="count" style="text-align:center;">
                        <i class="fa fa-comment-o"></i>
                        <span th:text="${nextPost.commentCount}"></span>
                    </td>
                    <td data-field="count" style="text-align:center;">
                        <i class="fa fa-eye"></i>
                        <span th:text="${nextPost.hitCount}"></span>

                    </td>
                    <td data-field="date" style="text-align:center;">
                        <small th:text="${nextPost.creationTime}">글자수몇글자글자</small>
                    </td>
                </tr>
                <tr th:if="${prevPost.postId} > 0">
                    <td data-field="name"></td>
                    <td data-field="title">
                        <a th:href="@{'/board/' + ${board.id} + '/view/' + ${prevPost.postId} }" th:text="${prevPost.title}"></a>
                    </td>
                    <td data-field="count" style="text-align:center;">
                        <i class="fa fa-comment-o"></i>
                        <span th:text="${prevPost.commentCount}"></span>
                    </td>
                    <td data-field="count" style="text-align:center;">
                        <i class="fa fa-eye"></i>
                        <span th:text="${prevPost.hitCount}"></span>
                    </td>
                    <td data-field="date" style="text-align:center;">
                        <small th:text="${prevPost.creationTime}">글자수몇글자글자</small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col s6 m6 l6" style="text-align:left;">
            <a th:href="@{'/board/' + ${board.id} + '?page=' + ${page} }" class="btn waves-effect waves-light">
                <!--<a th:onclick="'history.back();'" class="btn blue waves-effect">-->
                <i class="material-icons">list</i>
            </a>

            <a th:href="@{'/board/' + ${board.id} + '/write?page=' + ${page} }" class="btn waves-effect waves-light">
                <i class="material-icons">mode_edit</i>
            </a>
        </div>
        <div class="col s6 m6 l6" style="text-align:right;">

            <a th:href="@{'/board/' + ${board.id} + '/write/' + ${post.postId} + '?page=' + ${page} }" class="btn waves-effect waves-light">
                <i class="material-icons">gavel</i>
            </a>

            <a th:href="@{'/board/' + ${board.id} + '/delete/' + ${post.postId} + '?page=' + ${page} }" class="btn waves-effect waves-light">
                <i class="material-icons">delete_forever</i>
            </a>
        </div>
    </div>


    <!--
    <div class="row" style="margin-bottom:0px;" th:if="${not #lists.isEmpty(postComments)}">
        <ul class="collection with-header">
            <li class="collection-item" th:each="comment : ${postComments}">
                <div class="row" style="margin-bottom:0px;">

                    <div class="col s2" style="text-align:left;width:170px;min-width:170px;max-width:170px;">
                        <span th:text="${comment.userId}" style="font-weight:bold;"></span>
                    </div>
                    <div class="col s8" th:text="${comment.text}"></div>
                    <div class="col s2" style="text-align:right;">
                        <small th:text="${comment.creationTime}"></small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
        -->
    <!-- 댓글 -->
    <!--
        <div class="col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="postTitle" type="text" class="validate input-field" >
            <label for="icon_prefix">제목</label>
        </div>
            -->
    <!--
        <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Telephone</label>
        </div>
    -->

    <div th:replace="template/board :: copyright"></div>
</body>
</html>
