<!DOCTYPE html>
<html>
<head th:replace="template/board :: head">
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.title = [[${board.title}]];
        /*]]>*/

        $(document).ready(function () {
            tinymce.init({ selector: 'textarea' });
        });
    </script>

    <div style="min-width:100%;width:100%;">
        <form action="#"
              th:object="${postForm}"
              th:action="@{'/board/' + ${board.id} + '/write' + '?page=' + ${page} }"
              method="post">

            <input type="hidden" th:field="*{postId}" />
            <input type="hidden" th:field="*{boardId}" />
            <input type="hidden" th:field="*{userId}" />
            <input type="hidden" th:field="*{categoryId}" />
            <input type="hidden" th:field="*{notice}" />
            <input type="hidden" th:field="*{secret}" />
            <input type="hidden" th:field="*{attachment}" />
            <input type="hidden" th:field="*{link}" />
            <input type="hidden" th:field="*{ip}" />

            <div style="border-top:1px solid #ddd;overflow:hidden;padding:10px;">
                <input type="text" class="form-control" th:field="*{title}" placeholder="제목" />
            </div>

            <div style="border-top:1px solid #ddd;overflow:hidden;padding:10px;">
                <textarea th:field="*{text}"
                          maxlength="65535"
                          style="resize:none;height:300px;width:100%;"></textarea>
            </div>

            <div style="overflow:hidden;">

                <div class="col-sm-6 col-xs-6">
                    <a th:href="@{'/board/' + ${board.id} + '?page=' + ${page} }" 
                       class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        목록
                    </a>
                </div>
                <div class="col-sm-6 col-xs-6" style="text-align:right;">
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        완료
                    </button>
                </div>

            </div>
       
        </form>

    </div>
        

</body>
</html>
