if(user)
    // login
    div(style="margin-bottom:5px;padding:5px 0px 5px 0px;") 
        i.fa.fa-user
        strong &#32;#{user.name}
    
input(type="text", class="form-control", placeholder="Title",id="postTitle", style="margin-bottom:5px;")
textarea(maxlength="65535", style="resize:none;height:300px;width:100%;", ui-tinymce="tinymceOptions", ng-model="tinymceModel", ng-change="updateHtml();")

.row(style="margin-top:5px;")
    .col-md-3
        a(ng-href="#!/list?id={{board.id}}&page={{paging.currentPage}}")
            button.btn.btn-secondary list
    .col-md-6(style="text-align:center;")
        
    .col-md-3(style="text-align:right;")
        button.btn.btn-secondary.fa.fa-pencil(ng-click="postAdd(board.id);") &#32;confirm